.about {
  width: 100%;
  .aboutContainer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 5% 9%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media screen and (max-width: 888px) {
      flex-wrap: wrap-reverse;
      margin-top: 50px;
      padding: 5%;
    }
    .aboutLeft {
      width: 50%;
      max-width: 770px;
      margin-right: 5%;
      @media screen and (max-width: 888px) {
        width: 100%;
        margin-top: 50px;
        margin-right: 0;
      }
      .aboutTitle {
        font: normal normal bold 83px/103px Graphik Bold;
        letter-spacing: 0px;
        text-shadow: 0px 30px 60px #00000017;
        span {
          color: #5185eb;
        }
        @media screen and (max-width: 1900px) {
          font-size: 66px;
          line-height: 84px;
          white-space: nowrap;
        }
        @media screen and (max-width: 1200px) {
          font-size: 55px;
          line-height: 75px;
          text-align: center;
        }
        @media screen and (max-width: 620px) {
          font-size: 46px;
          line-height: 68px;
          text-align: center;
          white-space: normal;
        }
      }
      .aboutDescp {
        text-align: left;
        font: normal normal 300 28px/42px Graphik;
        letter-spacing: 0px;
        @media screen and (max-width: 1900px) {
          font-size: 20px;
          line-height: 34px;
        }
        @media screen and (max-width: 888px) {
          text-align: center;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .aboutRight {
      z-index: 2;
      background: #fff;
    }
  }
  .aboutFounder {
    max-width: 1920px;
    margin: 0 auto;
    padding: 5% 18%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    @media screen and (max-width: 1600px) {
      justify-content: space-around;
      padding: 5% 10%;
    }
    @media screen and (max-width: 888px) {
      justify-content: center;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 620px) {
      padding: 5%;
    }
    .aboutImageLeft {
      z-index: 2;
      background: #fff;
      @media screen and (max-width: 620px) {
        max-width: 300px;
      }
    }
    .aboutImageRight {
      margin-top: -165px;
      z-index: 1;
      @media screen and (max-width: 620px) {
        margin-top: -120px;
        min-width: 300px;
      }
    }
    .aboutFounderTitle {
      text-align: center;
      font: normal normal bold 55px/72px Graphik Bold;
      color: #5185eb;
      @media screen and (max-width: 1900px) {
        font-size: 45px;
        line-height: 60px;
      }
      @media screen and (max-width: 620px) {
        font-size: 36px;
        line-height: 55px;
      }
    }
    .aboutFounderDescp {
      font: normal normal 300 30px/39px Graphik;
      letter-spacing: 0px;
      color: #000000d4;
      @media screen and (max-width: 1900px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}
.aboutCulture {
  width: 100%;
  background: #ff6498;
  padding: 5% 9%;
  padding-top: 3%;
  margin-top: 5%;
  @media screen and (max-width: 620px) {
    padding: 5%;
  }
  .aboutCultureHeader {
    text-align: center;
    font: normal normal bold 83px/103px Graphik Bold;
    color: #ffffff;
    @media screen and (max-width: 1900px) {
      font-size: 62px;
      line-height: 82px;
      white-space: nowrap;
    }
    @media screen and (max-width: 1200px) {
      font-size: 55px;
      line-height: 75px;
      text-align: center;
    }
    @media screen and (max-width: 620px) {
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      white-space: normal;
    }
  }
  .aboutCultureContainer {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    @media screen and (max-width: 620px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .aboutCultureContent {
      max-width: 530px;
      @media screen and (max-width: 1900px) {
        max-width: 410px;
      }
      @media screen and (max-width: 1200px) {
        max-width: 390px;
      }
      @media screen and (min-width: 621px) and (max-width: 888px) {
        max-width: 280px;
      }
      .aboutCultureTitle {
        text-align: left;
        padding-top: 100px;
        font: normal normal bold 80px/30px Graphik Bold;
        white-space: nowrap;
        color: #2a539c;
        @media screen and (max-width: 1900px) {
          padding-top: 50px;
          font-size: 58px;
          line-height: 80px;
        }
        @media screen and (max-width: 1200px) {
          font-size: 50px;
          line-height: 75px;
        }
        @media screen and (max-width: 620px) {
          font-size: 40px;
          line-height: 55px;
          text-align: center;
          white-space: normal;
          padding-top: 50px;
        }
      }
      .aboutCultureDescp {
        text-align: left;
        padding-top: 30px;
        font: normal normal normal 24px/40px Graphik;
        letter-spacing: 1.2px;
        color: #fcfcfc;
        @media screen and (max-width: 1900px) {
          padding-top: 15px;
          font-size: 18px;
          line-height: 32px;
        }
        @media screen and (max-width: 620px) {
          text-align: center;
          font-size: 16px;
          line-height:24px;
        }
      }
    }
  }
}
.aboutOperate {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 9%;
  @media screen and (max-width: 620px) {
    padding: 5%;
  }
  .aboutOperateTitle {
    text-align: center;
    font: normal normal bold 80px/100px Graphik Bold;
    margin-bottom: 20px;
    span {
      color: #5185eb;
    }
    @media screen and (max-width: 1900px) {
      font-size: 62px;
      line-height: 94px;
    }
    @media screen and (max-width: 1200px) {
      font-size: 50px;
      line-height: 75px;
    }
    @media screen and (max-width: 620px) {
      font-size: 42px;
      line-height: 65px;
    }
  }
  .aboutOperateDescp {
    text-align: center;
    font: normal normal 300 26px/34px Graphik;
    color: #313131;
    margin-bottom: 50px;
    @media screen and (max-width: 1900px) {
      font-size: 20px;
      line-height: 36px;
    }
  }
  .aboutOperateHDWO {
    position: relative;
    padding: 3% 0 10% 0;
    @media screen and (min-width:889px){
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
    .aboutHDWO_Line{
      position: absolute;
      width: 85%;
      height: 3px;
      background: #000;
      top: 28%;
      z-index: 1;
      @media screen and (max-width:888px){
        display: none;
      }
      @media screen and (min-width:1201px) and (max-width:1800px){
        top: 29%;
      }
    }
    .aboutHDWO {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 25px 0;
      z-index: 2;
      @media screen and (min-width:889px){
        flex-wrap: wrap;
      }
      &:nth-child(2),
      &:nth-child(4){
        @media screen and (min-width:889px){
          flex-wrap: wrap-reverse;
        }
      }
      .aboutHDWO_Img{
        width: 130px;
        padding: 30px;
        background: #f1f1f1;
        border-radius: 50%;
        @media screen and (min-width:1200px){
          width: 160px;
          padding: 40px;
        }
        @media screen and (min-width:1900px){
          width: auto;
          padding: 60px;
        }
      }
      .aboutHDWO_Descp {
        width: 50vw;
        max-width: 205px;
        text-align: center;
        letter-spacing: 0.4px;
        font: normal normal 300 14px/22px Graphik;
        color: #464646;
        @media screen and (min-width:621px){
          min-width: 50vw;
        }
        @media screen and (min-width:889px){
          min-width: 120px;
          max-width: 180px;
          padding-top: 30px;
        }
        @media screen and (min-width:1251px){
          min-width: 200px;
        }
        @media screen and (min-width:1800px){
          min-width: 250px;
          font: normal normal 300 20px/30px Graphik;
          padding-top: 50px;
        }
      }
    }
  }
  .aboutOperateHire {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #5185eb;
    border-radius: 56px;
    padding: 10% 5%;
    @media screen and (max-width: 888px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .aboutHireContent {
      max-width: 633px;
      text-align: left;
      font: normal normal bold 47px/59px Graphik;
      letter-spacing: 1.88px;
      color: #ffffff;
      text-shadow: 0px 30px 60px #00000017;
      @media screen and (max-width: 1900px) {
        font-size: 36px;
        line-height: 55px;
      }
      @media screen and (max-width: 888px) {
        font-size: 28px;
        line-height: 45px;
        text-align: center;
        padding-bottom: 20px;
      }
    }
    .aboutHireButton {
      cursor: pointer;
      padding: 10px 30px;
      text-align: center;
      background: #ff6498;
      box-shadow: 0px 30px 60px #2a539c;
      border-radius: 14px;
      font: normal normal bold 28px/38px Graphik;
      letter-spacing: 1.2px;
      color: #ffffff;
      text-shadow: 0px 30px 60px #00000017;
      text-transform: uppercase;
      @media screen and (max-width: 1900px) {
        font-size: 24px;
        line-height: 30px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 18px;
        white-space: nowrap;
        line-height: 28px;
      }
    }
  }
}
