.about {
  width: 100%;
}

.about .aboutContainer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 5% 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 888px) {
  .about .aboutContainer {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    margin-top: 50px;
    padding: 5%;
  }
}

.about .aboutContainer .aboutLeft {
  width: 50%;
  max-width: 770px;
  margin-right: 5%;
}

@media screen and (max-width: 888px) {
  .about .aboutContainer .aboutLeft {
    width: 100%;
    margin-top: 50px;
    margin-right: 0;
  }
}

.about .aboutContainer .aboutLeft .aboutTitle {
  font: normal normal bold 83px/103px Graphik Bold;
  letter-spacing: 0px;
  text-shadow: 0px 30px 60px #00000017;
}

.about .aboutContainer .aboutLeft .aboutTitle span {
  color: #5185eb;
}

@media screen and (max-width: 1900px) {
  .about .aboutContainer .aboutLeft .aboutTitle {
    font-size: 66px;
    line-height: 84px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1200px) {
  .about .aboutContainer .aboutLeft .aboutTitle {
    font-size: 55px;
    line-height: 75px;
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .about .aboutContainer .aboutLeft .aboutTitle {
    font-size: 46px;
    line-height: 68px;
    text-align: center;
    white-space: normal;
  }
}

.about .aboutContainer .aboutLeft .aboutDescp {
  text-align: left;
  font: normal normal 300 28px/42px Graphik;
  letter-spacing: 1px;
  color: #000000d4;
  opacity: 0.8;
}

@media screen and (max-width: 1900px) {
  .about .aboutContainer .aboutLeft .aboutDescp {
    font-size: 18px;
    line-height: 32px;
  }
}

@media screen and (max-width: 888px) {
  .about .aboutContainer .aboutLeft .aboutDescp {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}

.about .aboutContainer .aboutRight {
  z-index: 2;
  background: #fff;
}

.about .aboutFounder {
  max-width: 1920px;
  margin: 0 auto;
  padding: 5% 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .about .aboutFounder {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5% 10%;
  }
}

@media screen and (max-width: 888px) {
  .about .aboutFounder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 620px) {
  .about .aboutFounder {
    padding: 5%;
  }
}

.about .aboutFounder .aboutImageLeft {
  z-index: 2;
  background: #fff;
}

@media screen and (max-width: 620px) {
  .about .aboutFounder .aboutImageLeft {
    max-width: 300px;
  }
}

.about .aboutFounder .aboutImageRight {
  margin-top: -165px;
  z-index: 1;
}

@media screen and (max-width: 620px) {
  .about .aboutFounder .aboutImageRight {
    margin-top: -120px;
    min-width: 300px;
  }
}

.about .aboutFounder .aboutFounderTitle {
  text-align: center;
  font: normal normal bold 55px/72px Graphik Bold;
  color: #5185eb;
}

@media screen and (max-width: 1900px) {
  .about .aboutFounder .aboutFounderTitle {
    font-size: 42px;
    line-height: 60px;
  }
}

@media screen and (max-width: 620px) {
  .about .aboutFounder .aboutFounderTitle {
    font-size: 32px;
    line-height: 55px;
  }
}

.about .aboutFounder .aboutFounderDescp {
  font: normal normal 300 30px/39px Graphik;
  letter-spacing: 0px;
  color: #000000d4;
  opacity: 0.8;
}

@media screen and (max-width: 1900px) {
  .about .aboutFounder .aboutFounderDescp {
    font-size: 24px;
    line-height: 36px;
  }
}

.aboutCulture {
  width: 100%;
  background: #ff6498;
  padding: 5% 9%;
  padding-top: 3%;
  margin-top: 5%;
}

@media screen and (max-width: 620px) {
  .aboutCulture {
    padding: 5%;
  }
}

.aboutCulture .aboutCultureHeader {
  text-align: center;
  font: normal normal bold 83px/103px Graphik Bold;
  color: #ffffff;
}

@media screen and (max-width: 1900px) {
  .aboutCulture .aboutCultureHeader {
    font-size: 62px;
    line-height: 82px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1200px) {
  .aboutCulture .aboutCultureHeader {
    font-size: 55px;
    line-height: 75px;
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .aboutCulture .aboutCultureHeader {
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    white-space: normal;
  }
}

.aboutCulture .aboutCultureContainer {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 620px) {
  .aboutCulture .aboutCultureContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.aboutCulture .aboutCultureContainer .aboutCultureContent {
  max-width: 530px;
}

@media screen and (max-width: 1900px) {
  .aboutCulture .aboutCultureContainer .aboutCultureContent {
    max-width: 370px;
  }
}

@media screen and (min-width: 621px) and (max-width: 888px) {
  .aboutCulture .aboutCultureContainer .aboutCultureContent {
    max-width: 280px;
  }
}

.aboutCulture .aboutCultureContainer .aboutCultureContent .aboutCultureTitle {
  text-align: left;
  padding-top: 100px;
  font: normal normal bold 80px/30px Graphik Bold;
  white-space: nowrap;
  color: #2a539c;
}

@media screen and (max-width: 1900px) {
  .aboutCulture .aboutCultureContainer .aboutCultureContent .aboutCultureTitle {
    padding-top: 70px;
    font-size: 48px;
    line-height: 75px;
  }
}

@media screen and (max-width: 620px) {
  .aboutCulture .aboutCultureContainer .aboutCultureContent .aboutCultureTitle {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    white-space: normal;
    padding-top: 50px;
  }
}

.aboutCulture .aboutCultureContainer .aboutCultureContent .aboutCultureDescp {
  text-align: left;
  padding-top: 30px;
  font: normal normal normal 24px/40px Graphik;
  letter-spacing: 1.2px;
  color: #fcfcfc;
}

@media screen and (max-width: 1900px) {
  .aboutCulture .aboutCultureContainer .aboutCultureContent .aboutCultureDescp {
    padding-top: 15px;
    font-size: 16px;
    line-height: 32px;
  }
}

@media screen and (max-width: 620px) {
  .aboutCulture .aboutCultureContainer .aboutCultureContent .aboutCultureDescp {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}

.aboutOperate {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 10% 9%;
}

@media screen and (max-width: 620px) {
  .aboutOperate {
    padding: 5%;
  }
}

.aboutOperate .aboutOperateTitle {
  text-align: center;
  font: normal normal bold 80px/100px Graphik Bold;
  margin-bottom: 20px;
}

.aboutOperate .aboutOperateTitle span {
  color: #5185eb;
}

@media screen and (max-width: 1900px) {
  .aboutOperate .aboutOperateTitle {
    font-size: 62px;
    line-height: 94px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutOperate .aboutOperateTitle {
    font-size: 50px;
    line-height: 75px;
  }
}

@media screen and (max-width: 620px) {
  .aboutOperate .aboutOperateTitle {
    font-size: 42px;
    line-height: 65px;
  }
}

.aboutOperate .aboutOperateDescp {
  text-align: center;
  font: normal normal 300 26px/34px Graphik;
  color: #313131;
  margin-bottom: 50px;
}

@media screen and (max-width: 1900px) {
  .aboutOperate .aboutOperateDescp {
    font-size: 20px;
    line-height: 36px;
  }
}

.aboutOperate .aboutOperateHDWO {
  position: relative;
  padding: 3% 0 10% 0;
}

@media screen and (min-width: 889px) {
  .aboutOperate .aboutOperateHDWO {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.aboutOperate .aboutOperateHDWO .aboutHDWO_Line {
  position: absolute;
  width: 85%;
  height: 3px;
  background: #000;
  top: 28%;
  z-index: 1;
}

@media screen and (max-width: 888px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO_Line {
    display: none;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO_Line {
    top: 29%;
  }
}

.aboutOperate .aboutOperateHDWO .aboutHDWO {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px 0;
  z-index: 2;
}

@media screen and (min-width: 889px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 889px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO:nth-child(2), .aboutOperate .aboutOperateHDWO .aboutHDWO:nth-child(4) {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

.aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Img {
  width: 130px;
  padding: 30px;
  background: #f1f1f1;
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Img {
    width: 160px;
    padding: 40px;
  }
}

@media screen and (min-width: 1900px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Img {
    width: auto;
    padding: 60px;
  }
}

.aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Descp {
  width: 50vw;
  max-width: 205px;
  text-align: center;
  letter-spacing: 0.4px;
  font: normal normal 300 14px/22px Graphik;
  color: #464646;
}

@media screen and (min-width: 621px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Descp {
    min-width: 50vw;
  }
}

@media screen and (min-width: 889px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Descp {
    min-width: 120px;
    max-width: 180px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 1251px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Descp {
    min-width: 200px;
  }
}

@media screen and (min-width: 1800px) {
  .aboutOperate .aboutOperateHDWO .aboutHDWO .aboutHDWO_Descp {
    min-width: 250px;
    font: normal normal 300 20px/30px Graphik;
    padding-top: 50px;
  }
}

.aboutOperate .aboutOperateHire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5185eb;
  border-radius: 56px;
  padding: 10% 5%;
}

@media screen and (max-width: 1500px) {
  .aboutOperate .aboutOperateHire {
    border-radius: 30px;
  }
}

@media screen and (max-width: 888px) {
  .aboutOperate .aboutOperateHire {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.aboutOperate .aboutOperateHire .aboutHireContent {
  max-width: 633px;
  text-align: left;
  font: normal normal bold 47px/59px Graphik Bold;
  letter-spacing: 1.88px;
  color: #ffffff;
  text-shadow: 0px 30px 60px #00000017;
}

@media screen and (max-width: 1900px) {
  .aboutOperate .aboutOperateHire .aboutHireContent {
    font-size: 36px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutOperate .aboutOperateHire .aboutHireContent {
    font-size: 28px;
    line-height: 45px;
  }
}

@media screen and (max-width: 888px) {
  .aboutOperate .aboutOperateHire .aboutHireContent {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 620px) {
  .aboutOperate .aboutOperateHire .aboutHireContent {
    font-size: 24px;
  }
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutHireButton {
  cursor: pointer;
  padding: 10px 30px;
  text-align: center;
  background: #ff6498;
  -webkit-box-shadow: 0px 30px 60px #2a539c;
          box-shadow: 0px 30px 60px #2a539c;
  border-radius: 14px;
  font: normal normal bold 28px/38px Graphik bold;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-shadow: 0px 30px 60px #00000017;
  text-transform: uppercase;
}

@media screen and (max-width: 1900px) {
  .aboutOperate .aboutOperateHire .aboutOperateRight .aboutHireButton {
    font-size: 18px;
    line-height: 28px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutOperate .aboutOperateHire .aboutOperateRight .aboutHireButton {
    font-size: 16px;
    white-space: nowrap;
    line-height: 24px;
    border-radius: 10px;
  }
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

@media screen and (min-width: 1901px) {
  .aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite {
    margin: 50px 0;
  }
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateUpperLine {
  width: 1px;
  height: 21px;
  border: 3px solid #ffffff;
  opacity: 1;
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateUpperLine:nth-child(1) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateUpperLine:nth-child(3) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@media screen and (max-width: 1900px) {
  .aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateUpperLine {
    border: 2px solid #ffffff;
  }
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateBottomLine {
  width: 1px;
  height: 21px;
  border: 3px solid #ffffff;
  opacity: 1;
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateBottomLine:nth-child(1) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateBottomLine:nth-child(3) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

@media screen and (max-width: 1900px) {
  .aboutOperate .aboutOperateHire .aboutOperateRight .aboutOperateLineWhite .aboutOperateBottomLine {
    border: 2px solid #ffffff;
  }
}
/*# sourceMappingURL=About.module.css.map */