.carousal__container {
    position: relative;
    margin-top: 150px;
  }
  .swiper-container {
      height: 450px;
      z-index: 10;
      @media screen and (min-width:1600px) {
          height: 600px;
      }
      @media screen and (max-width:620px) {
          height: 220px;
      }
      @media screen and (max-width:380px) {
          height: 180px;
      }
  }
  .swiper-wraper{display: flex;
  justify-content: center;
  align-items: center;}
  .swiper-slide {
      margin: 0 10%;
      width: 80% !important;
      height: 400px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:1600px) {
      height: 550px;
  }
    @media screen and (max-width:620px) {
      height: 180px ;
  }
  @media screen and (max-width:380px) {
      height: 140px;
  }
  }
  
  .swiper-pagination{
      &-bullet {
          width: 11px;
          height: 11px;
          background-color: black;
          border: 1px solid #255b94;
          transition: all 0.3s linear;
      }
      &-bullet-active{
          background-color: #255b94;
          width: 50px;
          border-radius: 10px;
      }
  }
  :root {
      --swiper-theme-color: transparent;
  }
  .swiper-button{
      &-container{
          background-color: #000;
      }
      &-prev{
          width: 25px;
          height: 25px;
          margin-left: 3%;
          z-index: 100;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: contain;
          background-position: center;
          background-image: url('../images/arrow-left.svg');
          @media screen and (max-width:620px) {
              margin-left: 0.5%;
          }
          @media screen and (max-width:380px) {
              margin-left: -5px;
          }
      }
      &-next{
          width: 25px;
          height: 25px;
          margin-right: 3%;
          background-repeat: no-repeat;
          background-size: cover;
          object-fit: contain;
          background-position: center;
          background-image: url('../images/arrow-right.svg');
          @media screen and (max-width:620px) {
              margin-right: 0.5%;
          }
          @media screen and (max-width:380px) {
              margin-right: -5px;
          }
      }
  }
  .carousal__slide{
      width: 100%;
      height: 100%;
      img{
          width: 100%;
          height: 100%;
      }
  }