.footer {
  width: 100%;
  padding: 0 5%;
  .footerContainer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 888px) {
      padding: 5% 0%;
    }
    @media screen and (max-width: 620px) {
      flex-wrap: wrap;
      padding: 5% 5% 0 0;
      // justify-content: space-around;
    }
    .footerLogo {
      @media screen and (max-width: 620px) {
        width: 140px;
      }
      @media screen and (max-width: 380px) {
        width: 120px;
      }
      // @media screen and (max-width: 400px) {
      //   min-width: 250px;
      //   display: flex;
      //   justify-content: center;
      // }
    }
    ul {
      @media screen and (max-width: 620px) {
        margin: 0 15px;
      }
      @media screen and (max-width: 380px) {
        margin: 0;
      }
      li {
        list-style: none;
        text-align: left;
        cursor: pointer;
        font: normal normal normal 32px/74px Graphik;
        letter-spacing: 0px;
        color: #000000;
        opacity: 0.49;
        @media screen and (max-width: 1900px) {
          font-size:24px;
          line-height:66px;
        }
        @media screen and (max-width: 888px) {
          font-size: 22px;
          line-height: 64px;
        }
        @media screen and (max-width: 620px) {
          font-size: 12px;
          line-height: 42px;
        }
      }
    }
    .footerCopyright {
        margin-top: auto;
        font-size: 28px;
        @media screen and (max-width: 1900px) {
          font-size:22px;
        }
        @media screen and (max-width: 620px) {
          font-size: 10px;
          margin-left:auto;
          margin-right: -15px;
        }
      span {
        text-align: right;
        font: normal normal 300 28px/65px Graphik;
        color: #000000;
        opacity: 0.49;
        @media screen and (max-width: 1900px) {
          font-size:22px;
          line-height:60px;
        }
        @media screen and (max-width: 888px) {
          font-size: 24px;
        }
        @media screen and (max-width: 620px) {
          font-size: 10px;
          min-width: 300px;
        }
      }
    }
  }
}
