.hire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5185eb;
  border-radius: 56px;
  padding: 10% 5%;
  margin-bottom: 50px;
}

@media screen and (max-width: 1500px) {
  .hire {
    border-radius: 30px;
  }
}

@media screen and (max-width: 888px) {
  .hire {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hire .hireContent {
  max-width: 633px;
  text-align: left;
  font: normal normal bold 47px/59px Graphik Bold;
  letter-spacing: 1.88px;
  color: #ffffff;
  text-shadow: 0px 30px 60px #00000017;
}

@media screen and (max-width: 1900px) {
  .hire .hireContent {
    font-size: 36px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .hire .hireContent {
    font-size: 28px;
    line-height: 45px;
  }
}

@media screen and (max-width: 888px) {
  .hire .hireContent {
    text-align: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 620px) {
  .hire .hireContent {
    font-size: 18px;
    line-height: 34px;
  }
}

.hire .hireRight .hireButton {
  cursor: pointer;
  padding: 20px 50px;
  text-align: center;
  background: #ff6498;
  -webkit-box-shadow: 0px 30px 60px #2a539c;
          box-shadow: 0px 30px 60px #2a539c;
  border-radius: 14px;
  font: normal normal bold 28px/38px Graphik bold;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-shadow: 0px 30px 60px #00000017;
  text-transform: uppercase;
}

@media screen and (max-width: 1900px) {
  .hire .hireRight .hireButton {
    font-size: 18px;
    line-height: 28px;
    border-radius: 10px;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 1200px) {
  .hire .hireRight .hireButton {
    font-size: 16px;
    white-space: nowrap;
    line-height: 24px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 620px) {
  .hire .hireRight .hireButton {
    font-size: 12px;
  }
}

.hire .hireRight .hireLineWhite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

@media screen and (min-width: 1901px) {
  .hire .hireRight .hireLineWhite {
    margin: 50px 0;
  }
}

.hire .hireRight .hireLineWhite .hireUpperLine {
  width: 1px;
  height: 21px;
  border-right: 4px solid #ffffff;
  opacity: 1;
}

.hire .hireRight .hireLineWhite .hireUpperLine:nth-child(1) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.hire .hireRight .hireLineWhite .hireUpperLine:nth-child(3) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.hire .hireRight .hireLineWhite .hireBottomLine {
  width: 1px;
  height: 21px;
  border-right: 4px solid #ffffff;
  opacity: 1;
}

.hire .hireRight .hireLineWhite .hireBottomLine:nth-child(1) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.hire .hireRight .hireLineWhite .hireBottomLine:nth-child(3) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
/*# sourceMappingURL=Hire.module.css.map */