.home {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1901px) {
  .home {
    padding-top: 3%;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2% 9%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (min-width: 1521px) and (max-width: 1900px) {
  .home .homeHeroContainer {
    padding-top: 5%;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer .homeContent {
    width: 100%;
  }
}

.home .homeHeroContainer .homeContent .homeTitle {
  max-width: 1200px;
  text-align: center;
  font: normal normal bold 88px/110px Graphik Bold;
  letter-spacing: 0px;
  text-shadow: 0px 30px 60px #00000017;
  margin: 0 auto;
  color: #101010;
  padding-top: 30px;
  background: #fff;
  z-index: 10;
}

.home .homeHeroContainer .homeContent .homeTitle span {
  color: #5185eb;
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer .homeContent .homeTitle {
    max-width: 700px;
    margin: 0;
    font-size: 46px;
    line-height: 58px;
    text-align: left;
  }
}

@media screen and (min-width: 1301px) {
  .home .homeHeroContainer .homeContent .homeTitle {
    max-width: 700px;
    font-size: 54px;
    line-height: 66px;
  }
}

@media screen and (min-width: 1521px) {
  .home .homeHeroContainer .homeContent .homeTitle {
    min-width: 600px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeHeroContainer .homeContent .homeTitle {
    max-width: 760px;
    font-size: 64px;
    line-height: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .home .homeHeroContainer .homeContent .homeTitle {
    font-size: 48px;
    line-height: 60px;
    max-width: 650px;
  }
}

@media screen and (max-width: 620px) {
  .home .homeHeroContainer .homeContent .homeTitle {
    max-width: 350px;
    font-size: 26px;
    line-height: 40px;
  }
}

.home .homeHeroContainer .homeContent .homeDescp {
  text-align: center;
  font: normal normal 300 26px/40px Graphik Light;
  letter-spacing: 1px;
  color: #363636;
  max-width: 750px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  background: #fff;
  z-index: 10;
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer .homeContent .homeDescp {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 10px;
    padding-top: 30px;
    max-width: 600px;
    margin: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeHeroContainer .homeContent .homeDescp {
    max-width: 620px;
  }
}

@media screen and (max-width: 1200px) {
  .home .homeHeroContainer .homeContent .homeDescp {
    font-size: 18px;
    line-height: 30px;
    max-width: 520px;
  }
}

@media screen and (max-width: 620px) {
  .home .homeHeroContainer .homeContent .homeDescp {
    max-width: 320px;
    font-size: 15px;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.home .homeHeroContainer .homeContent .homeButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 0;
  font-size: 22px;
  font-family: Graphik;
  white-space: nowrap;
  margin: 0 auto;
  background: #fff;
  z-index: 2;
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer .homeContent .homeButtons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1521px) {
  .home .homeHeroContainer .homeContent .homeButtons {
    padding: 40px 0;
  }
}

@media screen and (max-width: 1200px) {
  .home .homeHeroContainer .homeContent .homeButtons {
    font-size: 18px;
  }
}

@media screen and (max-width: 620px) {
  .home .homeHeroContainer .homeContent .homeButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
    font-size: 16px;
    max-width: 300px;
  }
}

.home .homeHeroContainer .homeContent .homeButtons .homeButtonLeft {
  color: #fff;
  background: #2a539c;
  padding: 15px 30px;
  margin: 0 20px 30px 20px;
  border: 3px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonLeft {
    width: 220px;
    padding: 15px 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 1521px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonLeft {
    margin: 0 30px 30px 0px;
  }
}

@media screen and (max-width: 1200px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonLeft {
    width: 200px;
    padding: 15px 0;
  }
}

@media screen and (max-width: 620px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonLeft {
    width: 100%;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonLeft {
    width: 250px;
  }
}

.home .homeHeroContainer .homeContent .homeButtons .homeButtonRight {
  background: #fff;
  padding: 15px 30px;
  margin: 0 0px 30px 30px;
  border: 3px solid #5185eb;
  cursor: pointer;
  border-radius: 8px;
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonRight {
    width: 220px;
    padding: 15px 0;
  }
}

@media screen and (min-width: 1521px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonRight {
    margin: 0 20px 30px 20px;
  }
}

@media screen and (max-width: 1200px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonRight {
    width: 200px;
    padding: 15px 0;
  }
}

@media screen and (max-width: 620px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonRight {
    width: 100%;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeHeroContainer .homeContent .homeButtons .homeButtonRight {
    width: 250px;
  }
}

.home .homeHeroContainer .homeVector {
  z-index: -1;
  max-width: 820px;
  height: 500px;
  margin: 0 auto;
  margin-top: -15%;
  margin-bottom: -5%;
  background: #fff;
}

@media screen and (max-width: 620px) {
  .home .homeHeroContainer .homeVector {
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 520px) {
  .home .homeHeroContainer .homeVector {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 375px) {
  .home .homeHeroContainer .homeVector {
    margin-bottom: -150px;
  }
}

@media screen and (min-width: 621px) {
  .home .homeHeroContainer .homeVector {
    height: 550px;
    max-width: 650px;
    margin-top: -5%;
  }
}

@media screen and (min-width: 889px) and (max-width: 1200px) {
  .home .homeHeroContainer .homeVector {
    max-width: 700px;
    height: 700px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeHeroContainer .homeVector {
    width: 100%;
    max-width: 700px;
    margin: 0;
    height: 600px;
    margin-top: -7%;
    margin-bottom: 0%;
    margin-right: -100px;
  }
}

@media screen and (min-width: 1521px) {
  .home .homeHeroContainer .homeVector {
    margin-top: -8%;
    height: 700px;
    min-width: 750px;
    margin-right: -70px;
  }
}

@media screen and (min-width: 1721px) {
  .home .homeHeroContainer .homeVector {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeHeroContainer .homeVector {
    margin-top: -10%;
    height: 700px;
    min-width: 850px;
    margin-right: -50px;
  }
}

@media screen and (min-width: 2295px) {
  .home .homeHeroContainer .homeVector {
    margin-right: -100px;
  }
}

.home .homeWWD {
  padding: 5%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 2;
}

@media screen and (min-width: 889px) {
  .home .homeWWD {
    padding: 0% 9%;
  }
}

.home .homeWWD .homeWWDTitle,
.home .homeWWD .homeWWDTitle2 {
  font-size: 23px;
  line-height: 32px;
  color: #000c20;
  font-family: Graphik Bold;
  text-align: center;
  z-index: 2;
  margin-bottom: 2%;
}

.home .homeWWD .homeWWDTitle span,
.home .homeWWD .homeWWDTitle2 span {
  color: #5185eb;
}

@media screen and (min-width: 621px) {
  .home .homeWWD .homeWWDTitle,
  .home .homeWWD .homeWWDTitle2 {
    text-align: left;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeWWDTitle,
  .home .homeWWD .homeWWDTitle2 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeWWDTitle,
  .home .homeWWD .homeWWDTitle2 {
    font-size: 64px;
    line-height: 80px;
  }
}

@media screen and (max-width: 888px) {
  .home .homeWWD .homeWWDTitle2 {
    font-size: 23px;
    line-height: 32px;
    color: #000c20;
    font-family: Graphik Bold;
    text-align: left;
    padding-left: 5%;
  }
}

.home .homeWWD .homeWWDDescp {
  font-size: 14px;
  font-family: Graphik Light;
  line-height: 22px;
  color: #000c20;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  margin-bottom: 5%;
  max-width: 320px;
}

.home .homeWWD .homeWWDDescp span {
  color: #5185eb;
}

@media screen and (min-width: 621px) {
  .home .homeWWD .homeWWDDescp {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    max-width: 100%;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeWWDDescp {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeWWDDescp {
    font-size: 29px;
    line-height: 40px;
  }
}

.home .homeWWD ul {
  padding-left: 9%;
}

@media screen and (min-width: 889px) {
  .home .homeWWD ul {
    padding-left: 0;
  }
}

.home .homeWWD ul .homeWWDList {
  font-size: 14px;
  font-family: Graphik Light;
  line-height: 22px;
  color: #000c20;
  text-align: left;
  z-index: 2;
  padding-left: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

@media screen and (min-width: 621px) {
  .home .homeWWD ul .homeWWDList {
    font-size: 18px;
    line-height: 28px;
    padding-left: 15px;
    list-style: disc;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD ul .homeWWDList {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD ul .homeWWDList {
    font-size: 29px;
    line-height: 40px;
  }
}

.home .homeWWD .homeStepContainer {
  padding-bottom: 50px;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer {
    padding-bottom: 100px;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 888px) {
  .home .homeWWD .homeStepContainer .homeStepContent {
    padding-top: 50px;
  }
}

@media screen and (max-width: 620px) {
  .home .homeWWD .homeStepContainer .homeStepContent:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 621px) {
  .home .homeWWD .homeStepContainer .homeStepContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent {
    margin-bottom: 0;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer {
  position: relative;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
  margin-bottom: 50px;
  z-index: 0;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer {
    max-width: 400px;
    max-height: 350px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer {
    max-width: 500px;
    max-height: 450px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer {
    max-width: 550px;
    max-height: 500px;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImg1 {
  margin-left: -25px !important;
  z-index: 0;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImg1 {
    margin-left: -35px !important;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImg {
  z-index: 0;
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImg {
    margin-left: 15px !important;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImg3 {
  margin-left: -45px !important;
  z-index: 0;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImg3 {
    margin-left: -70px !important;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImg3 {
    margin-left: -90px !important;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg,
.home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
  position: absolute;
  width: 188px;
  height: 165px;
  left: 20px;
  top: 20px;
  background: #ff6498;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg,
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
    top: 30px;
    left: 30px;
    width: 300px;
    height: 265px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg,
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
    height: 340px;
    width: 370px;
    left: 55px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg,
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
    height: 365px;
    width: 410px;
    top: 40px;
    left: 60px;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
  top: 50px;
  left: 30px;
  height: 135px;
  width: 183px;
  z-index: 0;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
    top: 60px;
    width: 300px;
    height: 230px;
    left: 35px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
    height: 295px;
    width: 370px;
    left: 55px;
    top: 80px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepImgContainer .homeStepImgBg3 {
    height: 335px;
    width: 410px;
    top: 75px;
    left: 80px;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepRight {
  max-width: 250px;
  margin: 0 auto;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight {
    max-width: 300px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight {
    max-width: 420px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight {
    max-width: 520px;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepNo {
  color: #ff6498;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-family: Graphik Bold;
  padding-bottom: 10px;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepNo {
    font-size: 17px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepNo {
    font-size: 22px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepNo {
    font-size: 27px;
    line-height: 42px;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepTitle {
  color: #2a539c;
  font-size: 26px;
  line-height: 32px;
  font-family: Graphik Bold;
  text-align: left;
  padding-bottom: 15px;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepTitle {
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepTitle {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepTitle {
    font-size: 50px;
    line-height: 60px;
  }
}

.home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepDescp {
  color: #000c20;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  font-family: Graphik Light;
}

@media screen and (min-width: 889px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepDescp {
    font-size: 16px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepDescp {
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeWWD .homeStepContainer .homeStepContent .homeStepRight .homeStepDescp {
    font-size: 24px;
    line-height: 42px;
  }
}

.home .homeWWD .homeStepContainer .homeForward {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 5px;
}

@media screen and (max-width: 888px) {
  .home .homeWWD .homeStepContainer .homeForward {
    display: none;
  }
}

.home .homeWWD .homeStepContainer .homeForward .homeForwardImg {
  z-index: 10;
}

.home .homeWWD .homeStepContainer .homeForward2 {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: -40px;
}

@media screen and (max-width: 1200px) {
  .home .homeWWD .homeStepContainer .homeForward2 {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 888px) {
  .home .homeWWD .homeStepContainer .homeForward2 {
    display: none;
  }
}

.home .homeWWD .homeStepContainer .homeForward2 .homeForwardImg {
  z-index: 10;
}

.home .homePOD {
  background: #5185eb;
  text-align: left;
  padding: 10%;
  padding-bottom: 5%;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 889px) {
  .home .homePOD {
    padding: 5% 9%;
    padding-bottom: 2%;
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1601px) {
  .home .homePOD {
    margin-bottom: 13%;
  }
}

.home .homePOD .homePODTitle {
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  font-family: Graphik Bold;
  padding-bottom: 30px;
}

@media screen and (min-width: 621px) {
  .home .homePOD .homePODTitle {
    text-align: left;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homePOD .homePODTitle {
    font-size: 48px;
    line-height: 60px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homePOD .homePODTitle {
    font-size: 64px;
    line-height: 80px;
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1921px) {
  .home .homePOD .homePODTitle {
    padding: 0 9%;
  }
}

@media screen and (min-width: 889px) {
  .home .homePOD .homePODContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1921px) {
  .home .homePOD .homePODContainer {
    max-width: 1920px;
    padding: 0 9%;
    margin: 0 auto;
  }
}

.home .homePOD .homePODContainer .homePODLeft {
  width: 100%;
}

.home .homePOD .homePODContainer .homePODLeft .homePODContent {
  position: relative;
  z-index: 0;
  border-left: 5px solid rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  padding-top: 20px;
}

.home .homePOD .homePODContainer .homePODLeft .homePODContent:nth-child(3) {
  border: none;
}

.home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODCircle,
.home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODCircle3 {
  position: absolute;
  top: 0;
  left: -6px;
  z-index: 2;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODCircle3 {
  left: -1px;
}

.home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODText {
  opacity: 0.8;
  margin-left: 30px;
  font-size: 16px;
  line-height: 20px;
  margin-top: -26px;
  font-family: Graphik Light;
  color: #fff;
  padding-bottom: 30px;
  max-width: 85%;
}

@media screen and (min-width: 621px) {
  .home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODText {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    max-width: 400px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODText {
    font-size: 22px;
    line-height: 32px;
    max-width: 450px;
    padding-bottom: 40px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODText {
    font-size: 26px;
    line-height: 40px;
    max-width: 550px;
    margin-top: -35px;
  }
}

.home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODText span {
  border-bottom: 2px solid #ff6498;
}

@media screen and (min-width: 1201px) {
  .home .homePOD .homePODContainer .homePODLeft .homePODContent .homePODText span {
    padding-bottom: 3px;
  }
}

.home .homePOD .homePODContainer .homePODRight {
  cursor: pointer;
  width: 100%;
  height: 300px;
  margin-bottom: -100px;
  margin-top: -150px;
  min-width: 60%;
  margin-right: -100px;
  margin-left: -100px;
}

@media screen and (min-width: 1301px) {
  .home .homePOD .homePODContainer .homePODRight {
    margin-top: -250px;
    min-width: 700px;
    height: 500px;
    margin-right: -50px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1901px) {
  .home .homePOD .homePODContainer .homePODRight {
    margin-top: -300px;
    margin-right: 0;
    margin-left: -150px;
  }
}

@media screen and (max-width: 888px) {
  .home .homePOD .homePODContainer .homePODRight {
    display: none;
  }
}

.home .homeDiffContainer {
  padding: 15% 10%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 621px) {
  .home .homeDiffContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5%;
  }
}

@media screen and (min-width: 889px) {
  .home .homeDiffContainer {
    padding: 5% 9%;
  }
}

.home .homeDiffContainer .homeDiff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  width: 100%;
}

@media screen and (max-width: 620px) {
  .home .homeDiffContainer .homeDiff {
    padding-top: 50px;
  }
}

.home .homeDiffContainer .homeDiff .homeDiffTitle {
  padding-bottom: 50px;
  font: normal normal bold 22px/35px Graphik Bold;
  letter-spacing: 0.88px;
  text-shadow: 0px 30px 60px #00000017;
}

@media screen and (min-width: 889px) {
  .home .homeDiffContainer .homeDiff .homeDiffTitle {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 1.1px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeDiffContainer .homeDiff .homeDiffTitle {
    font-size: 33px;
    line-height: 44px;
    letter-spacing: 1.4px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeDiffContainer .homeDiff .homeDiffTitle {
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.8px;
  }
}

.home .homeDiffContainer .homeDiff .homeDiffImg {
  min-height: 400px;
  min-width: 120%;
  height: 400px;
  margin-top: -100px;
  margin-bottom: -150px;
  cursor: pointer;
}

@media screen and (min-width: 381px) {
  .home .homeDiffContainer .homeDiff .homeDiffImg {
    margin-bottom: -100px;
  }
}

@media screen and (min-width: 451px) {
  .home .homeDiffContainer .homeDiff .homeDiffImg {
    margin-bottom: -50px;
  }
}

@media screen and (min-width: 951px) {
  .home .homeDiffContainer .homeDiff .homeDiffImg {
    min-width: auto;
    margin-top: -150px;
    margin-bottom: -100px;
  }
}

@media screen and (min-width: 1301px) {
  .home .homeDiffContainer .homeDiff .homeDiffImg {
    margin-top: -150px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeDiffContainer .homeDiff .homeDiffImg {
    margin-top: -150px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeDiffContainer .homeDiff .homeDiffImg {
    max-width: 550px;
  }
}

.home .homeDiffContainer .homeDiff .homeDiffContent {
  padding-top: 30px;
  max-width: 280px;
}

@media screen and (min-width: 889px) {
  .home .homeDiffContainer .homeDiff .homeDiffContent {
    max-width: 300px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeDiffContainer .homeDiff .homeDiffContent {
    max-width: 380px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeDiffContainer .homeDiff .homeDiffContent {
    max-width: 430px;
  }
}

.home .homeDiffContainer .homeDiff .homeDiffContent .homeDiffPoint {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .homeDiffContainer .homeDiff .homeDiffContent .homeDiffPoint .homeDiffIcon {
  max-width: 20px;
}

@media screen and (min-width: 1201px) {
  .home .homeDiffContainer .homeDiff .homeDiffContent .homeDiffPoint .homeDiffIcon {
    min-width: 35px;
  }
}

.home .homeDiffContainer .homeDiff .homeDiffContent .homeDiffPoint .homeDiffText {
  font: normal normal normal 16px/25px Graphik Light;
  letter-spacing: 0px;
  color: #000c20;
  padding-left: 30px;
  margin-top: -2px;
}

@media screen and (min-width: 889px) {
  .home .homeDiffContainer .homeDiff .homeDiffContent .homeDiffPoint .homeDiffText {
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeDiffContainer .homeDiff .homeDiffContent .homeDiffPoint .homeDiffText {
    font-size: 22px;
    line-height: 33px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeDiffContainer .homeDiff .homeDiffContent .homeDiffPoint .homeDiffText {
    font-size: 25px;
    line-height: 38x;
  }
}

.home .homeDiffContainer .homeDiffLine {
  height: 2px;
  width: 100%;
  margin-bottom: -20px;
  z-index: 0;
  border-bottom: 2px solid #707070;
}

@media screen and (min-width: 621px) {
  .home .homeDiffContainer .homeDiffLine {
    height: 300px;
    width: 0.1px;
    max-width: 2px;
    border-bottom: none;
    border-left: 2px solid #707070;
    margin-top: 20px;
  }
}

@media screen and (min-width: 889px) {
  .home .homeDiffContainer .homeDiffLine {
    height: 380px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeDiffContainer .homeDiffLine {
    height: 450px;
  }
}

@media screen and (min-width: 1351px) {
  .home .homeDiffContainer .homeDiffLine {
    height: 500px;
  }
}

.home .homeDiffContainer .homeDiffVs {
  z-index: 5;
  text-align: center;
  font: normal normal 300 20px/31px Graphik;
  letter-spacing: 0px;
  background: #ffffff;
  color: #000c20;
  max-width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50%;
}

@media screen and (min-width: 621px) {
  .home .homeDiffContainer .homeDiffVs {
    position: absolute;
    left: 50%;
    margin-top: 135px;
    margin-left: -17px;
  }
}

@media screen and (min-width: 889px) {
  .home .homeDiffContainer .homeDiffVs {
    margin-top: 190px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeDiffContainer .homeDiffVs {
    margin-top: 210px;
  }
}

@media screen and (min-width: 1351px) {
  .home .homeDiffContainer .homeDiffVs {
    margin-top: 235px;
  }
}

.home .homeSlider,
.home .homeCaseStudies {
  padding: 0 5%;
}

@media screen and (min-width: 889px) {
  .home .homeSlider,
  .home .homeCaseStudies {
    padding: 0% 9%;
  }
}

.home .homeSlider .homeSliderTitle,
.home .homeSlider .homeCaseStudiesTitle,
.home .homeCaseStudies .homeSliderTitle,
.home .homeCaseStudies .homeCaseStudiesTitle {
  font-size: 23px;
  line-height: 32px;
  color: #000c20;
  font-family: Graphik Bold;
  text-align: center;
  max-width: 250px;
  padding-bottom: 50px;
  margin: 0 auto;
  margin-bottom: 2%;
}

.home .homeSlider .homeSliderTitle span,
.home .homeSlider .homeCaseStudiesTitle span,
.home .homeCaseStudies .homeSliderTitle span,
.home .homeCaseStudies .homeCaseStudiesTitle span {
  color: #5185eb;
}

@media screen and (min-width: 621px) {
  .home .homeSlider .homeSliderTitle,
  .home .homeSlider .homeCaseStudiesTitle,
  .home .homeCaseStudies .homeSliderTitle,
  .home .homeCaseStudies .homeCaseStudiesTitle {
    font-size: 40px;
    line-height: 50px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeSlider .homeSliderTitle,
  .home .homeSlider .homeCaseStudiesTitle,
  .home .homeCaseStudies .homeSliderTitle,
  .home .homeCaseStudies .homeCaseStudiesTitle {
    font-size: 48px;
    line-height: 60px;
    max-width: 500px;
  }
}

@media screen and (min-width: 1901px) {
  .home .homeSlider .homeSliderTitle,
  .home .homeSlider .homeCaseStudiesTitle,
  .home .homeCaseStudies .homeSliderTitle,
  .home .homeCaseStudies .homeCaseStudiesTitle {
    font-size: 64px;
    line-height: 80px;
    max-width: 700px;
  }
}

.home .homeCaseStudiesCards {
  padding: 5% 10%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 0;
}

@media screen and (min-width: 621px) {
  .home .homeCaseStudiesCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 889px) {
  .home .homeCaseStudiesCards {
    padding: 3% 9%;
    padding-top: 0;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeCaseStudiesCards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.home .homeCaseStudiesCards .homeCaseStudiesCard,
.home .homeCaseStudiesCards .homeCaseStudiesCard2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  border-radius: 27px;
  padding: 100px 50px;
  background: #dbf9ff;
  margin: 50px 0 0 0;
  cursor: pointer;
}

@media screen and (min-width: 621px) {
  .home .homeCaseStudiesCards .homeCaseStudiesCard,
  .home .homeCaseStudiesCards .homeCaseStudiesCard2 {
    margin: 0 30px 0 0;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeCaseStudiesCards .homeCaseStudiesCard,
  .home .homeCaseStudiesCards .homeCaseStudiesCard2 {
    padding: 15% 8%;
  }
}

.home .homeCaseStudiesCards .homeCaseStudiesCard2 {
  background: #f29595;
  margin: 50px 0;
}

@media screen and (min-width: 621px) {
  .home .homeCaseStudiesCards .homeCaseStudiesCard2 {
    margin: 0 0 0 30px;
  }
}

.home .homeCaseStudiesMore {
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  white-space: nowrap;
  color: #2a539c;
  padding: 0 2.5px;
  cursor: pointer;
  font: normal normal 600 16px/49px Graphik;
  letter-spacing: 0.64px;
  text-shadow: 0px 30px 60px #00000017;
  border-bottom: 2px solid #ff6498;
  margin-bottom: 50px;
}

@media screen and (min-width: 621px) {
  .home .homeCaseStudiesMore {
    font-size: 24px;
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1201px) {
  .home .homeCaseStudiesMore {
    font-size: 32px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1901p) {
  .home .homeCaseStudiesMore {
    font: normal normal 600 39px/49px Graphik;
    letter-spacing: 1.56px;
  }
}

.home .caseStudyPerson {
  width: 100%;
  background: #5185eb;
  padding: 10%;
  margin-bottom: 50px;
}

@media screen and (min-width: 889px) {
  .home .caseStudyPerson {
    padding: 5% 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
  }
}

.home .caseStudyPerson .caseStudyPersonImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 889px) {
  .home .caseStudyPerson .caseStudyPersonImg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 5%;
    margin-left: -10%;
  }
}

@media screen and (min-width: 889px) {
  .home .caseStudyPerson .caseStudyPersonThought {
    max-width: 55%;
    margin-right: auto;
  }
}

.home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonHeader {
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  font-family: Graphik Bold;
  text-shadow: 0px 30px 60px #00000017;
  color: #ffffff;
  padding-bottom: 20px;
}

@media screen and (min-width: 621px) {
  .home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonHeader {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (min-width: 1201px) {
  .home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonHeader {
    font-size: 28px;
    line-height: 38px;
  }
}

@media screen and (min-width: 1901px) {
  .home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonHeader {
    font-size: 35px;
    line-height: 55px;
  }
}

.home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonLine {
  margin-left: 10px;
  height: 2px;
  width: 120px;
  background: #ff6498;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonLine {
    width: 80px;
  }
}

.home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonWords {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.8;
  font-family: Graphik Light;
}

@media screen and (min-width: 621px) {
  .home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonWords {
    font-size: 22px;
    line-height: 32px;
    max-width: 70%;
  }
}

@media screen and (min-width: 1901px) {
  .home .caseStudyPerson .caseStudyPersonThought .caseStudyPersonWords {
    font-size: 28px;
    line-height: 42px;
    max-width: 60%;
  }
}

.home .homeHire {
  padding: 10% 5%;
}

@media screen and (min-width: 889px) {
  .home .homeHire {
    padding: 0% 9%;
  }
}

.home .homeHire .hire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ff6498;
  border-radius: 56px;
  padding: 10% 5%;
  margin-bottom: 50px;
}

@media screen and (max-width: 1500px) {
  .home .homeHire .hire {
    border-radius: 30px;
  }
}

@media screen and (max-width: 888px) {
  .home .homeHire .hire {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
  }
}

.home .homeHire .hire .hireContent {
  max-width: 633px;
  text-align: left;
  font: normal normal bold 47px/59px Graphik Bold;
  letter-spacing: 1.88px;
  color: #ffffff;
  text-shadow: 0px 30px 60px #00000017;
}

@media screen and (max-width: 1900px) {
  .home .homeHire .hire .hireContent {
    font-size: 36px;
    line-height: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .home .homeHire .hire .hireContent {
    font-size: 28px;
    line-height: 45px;
  }
}

@media screen and (max-width: 888px) {
  .home .homeHire .hire .hireContent {
    text-align: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 620px) {
  .home .homeHire .hire .hireContent {
    font-size: 18px;
    line-height: 34px;
  }
}

.home .homeHire .hire .hireRight .hireButton {
  cursor: pointer;
  padding: 20px 50px;
  text-align: center;
  background: #2a539c;
  -webkit-box-shadow: 0px 30px 60px #2a539c24;
          box-shadow: 0px 30px 60px #2a539c24;
  border-radius: 14px;
  font: normal normal bold 28px/38px Graphik bold;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-shadow: 0px 30px 60px #00000017;
  text-transform: uppercase;
}

@media screen and (max-width: 1900px) {
  .home .homeHire .hire .hireRight .hireButton {
    font-size: 18px;
    line-height: 28px;
    border-radius: 10px;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 1200px) {
  .home .homeHire .hire .hireRight .hireButton {
    font-size: 16px;
    white-space: nowrap;
    line-height: 24px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 620px) {
  .home .homeHire .hire .hireRight .hireButton {
    font-size: 12px;
    border-radius: 8px;
  }
}

.home .homeHire .hire .hireRight .hireLineWhite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

@media screen and (min-width: 1901px) {
  .home .homeHire .hire .hireRight .hireLineWhite {
    margin: 50px 0;
  }
}

.home .homeHire .hire .hireRight .hireLineWhite .hireUpperLine {
  width: 1px;
  height: 21px;
  border-right: 4px solid #ffffff;
  opacity: 1;
}

.home .homeHire .hire .hireRight .hireLineWhite .hireUpperLine:nth-child(1) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.home .homeHire .hire .hireRight .hireLineWhite .hireUpperLine:nth-child(3) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.home .homeHire .hire .hireRight .hireLineWhite .hireBottomLine {
  width: 1px;
  height: 21px;
  border-right: 4px solid #ffffff;
  opacity: 1;
}

.home .homeHire .hire .hireRight .hireLineWhite .hireBottomLine:nth-child(1) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.home .homeHire .hire .hireRight .hireLineWhite .hireBottomLine:nth-child(3) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
/*# sourceMappingURL=Home.module.css.map */