.HIW {
  width: 100%;
  overflow: hidden;
  padding: 10% 0;
}

@media screen and (min-width: 889px) {
  .HIW {
    padding: 3% 0;
  }
}

.HIW .HIW_Title {
  text-align: center;
  font: normal normal bold 24px/33px Graphik Bold;
  letter-spacing: 0px;
  text-shadow: 0px 30px 60px #00000017;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Title {
    font-size: 36px;
    line-height: 52px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Title {
    font-size: 48px;
    line-height: 64px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Title {
    font-size: 67px;
    line-height: 83px;
  }
}

.HIW .HIW_Title span {
  color: #5185eb;
}

.HIW .HIW_Descp {
  text-align: center;
  font: normal normal 300 15px/23px Graphik Light;
  letter-spacing: 0.45px;
  color: #363636;
  padding: 0 10px;
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Descp {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Descp {
    font-size: 19px;
    line-height: 29px;
    max-width: 480px;
  }
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Descp {
    font-size: 20px;
    line-height: 30px;
    max-width: 650px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Descp {
    font-size: 22px;
    line-height: 34px;
    max-width: 900px;
  }
}

.HIW .HIW_Container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10% 5%;
}

@media screen and (min-width: 889px) and (max-width: 1440px) {
  .HIW .HIW_Container {
    padding: 0% 9%;
  }
}

@media screen and (min-width: 1441px) {
  .HIW .HIW_Container {
    padding: 3% 0;
  }
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Container .HIW_Content,
  .HIW .HIW_Container .HIW_Content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.HIW .HIW_Container .HIW_Content .HIW_ContentVector,
.HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
  height: 300px;
  min-width: 100%;
}

@media screen and (max-width: 620px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 550px;
    min-width: 140%;
    margin-left: -20%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 560px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 500px;
  }
}

@media screen and (max-width: 510px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 450px;
  }
}

@media screen and (max-width: 450px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 300px;
  }
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 400px;
    min-width: 450px;
    margin-left: -100px;
  }
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 500px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 600px;
    max-width: 700px;
    margin-left: -150px;
  }
}

@media screen and (min-width: 1501px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentVector,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    margin-left: -50px;
  }
}

.HIW .HIW_Container .HIW_Content .HIW_ContentText,
.HIW .HIW_Container .HIW_Content2 .HIW_ContentText {
  margin: 0 5%;
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText {
    margin: 5% 0;
    max-width: 300px;
  }
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText {
    max-width: 400px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText {
    max-width: 550px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText {
    max-width: 600px;
  }
}

.HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_Step,
.HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_Step {
  font: normal normal bold 24px/34px Graphik Bold;
  color: #5185eb;
  text-shadow: 0px 30px 60px #00000017;
  background: #f1f1f1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_Step,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_Step {
    font-size: 28px;
    line-height: 34px;
    padding: 10px;
  }
}

.HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer,
.HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 30px 60px #00000029;
          box-shadow: 0px 30px 60px #00000029;
  border: 1px solid #70707017;
  border-radius: 8px;
  padding: 30px 20px;
}

.HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle,
.HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle {
  font: normal normal bold 17px/25px Graphik Bold;
  color: #2a539c;
  text-shadow: 0px 30px 60px #00000017;
  max-width: 200px;
  padding-bottom: 20px;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle {
    font-size: 20px;
    line-height: 28px;
    max-width: 230px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle {
    font-size: 24px;
    line-height: 32px;
    max-width: 260px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentTitle {
    font-size: 29px;
    line-height: 38px;
    max-width: 320px;
  }
}

.HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp,
.HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp {
  font: normal normal 300 14px/21px Graphik Light;
  letter-spacing: 0.56px;
  color: #363636;
  opacity: 0.8;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Container .HIW_Content .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp,
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentText .HIW_ContentTextContainer .HIW_ContentDescp {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 620px) {
  .HIW .HIW_Container .HIW_Content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Container .HIW_Content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
  height: 300px;
  min-width: 100%;
}

@media screen and (max-width: 620px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 550px;
    min-width: 140%;
    margin-left: 0%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 560px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 500px;
  }
}

@media screen and (max-width: 510px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 450px;
  }
}

@media screen and (max-width: 450px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 300px;
  }
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 400px;
    min-width: 450px;
    margin-left: auto;
    margin-right: -100px;
  }
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 450px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    height: 600px;
    max-width: 650px;
    margin-right: -150px;
  }
}

@media screen and (min-width: 1501px) {
  .HIW .HIW_Container .HIW_Content2 .HIW_ContentVector {
    margin-right: -50px;
  }
}

.HIW .HIW_Forward {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -100px;
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Forward {
    min-width: 90%;
    max-width: 90%;
  }
}

@media screen and (min-width: 1501px) {
  .HIW .HIW_Forward {
    min-width: 100%;
  }
}

@media screen and (max-width: 888px) {
  .HIW .HIW_Forward {
    display: none;
  }
}

.HIW .HIW_Forward .HIW_ForwardImg {
  z-index: 10;
}

.HIW .HIW_Hire {
  padding: 5%;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Hire {
    padding: 0% 9%;
    padding-top: 5%;
  }
}

.HIW .HIW_Services {
  padding: 10%;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Services {
    padding: 5% 9%;
    padding-bottom: 3%;
  }
}

.HIW .HIW_Services .HIW_ServicesTitle {
  text-align: center;
  font: normal normal bold 30px/37px Graphik Bold;
  text-shadow: 0px 30px 60px #00000017;
  padding-bottom: 20px;
}

.HIW .HIW_Services .HIW_ServicesTitle span {
  color: #5185eb;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Services .HIW_ServicesTitle {
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Services .HIW_ServicesTitle {
    font-size: 42px;
    line-height: 54px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Services .HIW_ServicesTitle {
    font-size: 49px;
    line-height: 60px;
  }
}

.HIW .HIW_Services .HIW_ServicesContainer {
  -webkit-box-shadow: 0px 30px 60px #00000021;
          box-shadow: 0px 30px 60px #00000021;
  border: 1px solid #7070702b;
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Services .HIW_ServicesContainer {
    max-width: 563px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 621px) and (min-width: 889px) {
  .HIW .HIW_Services .HIW_ServicesContainer {
    max-width: 728px;
  }
}

@media screen and (min-width: 621px) and (min-width: 1201px) {
  .HIW .HIW_Services .HIW_ServicesContainer {
    max-width: 1043px;
  }
}

@media screen and (min-width: 621px) and (min-width: 1501px) {
  .HIW .HIW_Services .HIW_ServicesContainer {
    max-width: 1163px;
  }
}

@media screen and (min-width: 621px) and (min-width: 1901px) {
  .HIW .HIW_Services .HIW_ServicesContainer {
    max-width: 1435px;
  }
}

.HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border: 1px solid #7070702b;
  padding: 30px 20px;
}

@media screen and (min-width: 621px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent {
    padding: 40px;
    max-height: 200px;
  }
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent {
    max-height: 230px;
    padding: 50px 50px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent {
    max-height: 300px;
    padding: 70px 80px;
  }
}

@media screen and (min-width: 1501px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent {
    padding: 90px 100px;
    max-height: 330px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent {
    max-height: 380px;
    padding: 110px 130px;
  }
}

.HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesImg {
  max-width: 70px;
  margin-bottom: 10px;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesImg {
    width: 90px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesImg {
    width: 120px;
  }
}

@media screen and (min-width: 1501px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesImg {
    width: 140px;
  }
}

.HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesText {
  text-align: center;
  font: normal normal bold 14px/20px Graphik Bold;
  letter-spacing: 0.11px;
  color: #3b537c;
  text-shadow: 0px 30px 60px #00000017;
  max-width: 105px;
}

@media screen and (min-width: 889px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesText {
    font-size: 18px;
    line-height: 24px;
    max-width: 140px;
  }
}

@media screen and (min-width: 1201px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesText {
    font-size: 24px;
    line-height: 32px;
    max-width: 185px;
  }
}

@media screen and (min-width: 1901px) {
  .HIW .HIW_Services .HIW_ServicesContainer .HIW_ServicesContent .HIW_ServicesText {
    font-size: 28px;
    line-height: 40px;
    max-width: 215px;
  }
}
/*# sourceMappingURL=howItWorks.module.css.map */