.podSlider {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 2101px) {
  .podSlider {
    width: 38%;
  }
}

@media screen and (max-width: 888px) {
  .podSlider {
    width: 60%;
  }
}

@media screen and (max-width: 620px) {
  .podSlider {
    width: 100%;
  }
}

.podSlider .next,
.podSlider .prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 10;
}

@media screen and (min-width: 1401px) {
  .podSlider .next,
  .podSlider .prev {
    top: 55%;
  }
}

@media screen and (min-width: 1521px) {
  .podSlider .next,
  .podSlider .prev {
    top: 60%;
  }
}

@media screen and (min-width: 1901px) {
  .podSlider .next,
  .podSlider .prev {
    top: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .podSlider .next,
  .podSlider .prev {
    width: 42px;
  }
}

@media screen and (max-width: 888px) {
  .podSlider .next,
  .podSlider .prev {
    width: 35px;
    top: 47%;
  }
}

@media screen and (max-width: 730px) {
  .podSlider .next,
  .podSlider .prev {
    width: 35px;
    top: 40%;
  }
}

@media screen and (max-width: 620px) {
  .podSlider .next,
  .podSlider .prev {
    width: 25px;
    top: 180px;
  }
}

@media screen and (max-width: 380px) {
  .podSlider .next,
  .podSlider .prev {
    top: 170px;
  }
}

@media screen and (max-width: 365px) {
  .podSlider .next,
  .podSlider .prev {
    top: 160px;
  }
}

@media screen and (max-width: 340px) {
  .podSlider .next,
  .podSlider .prev {
    top: 150px;
  }
}

.podSlider .next {
  left: 0;
}

@media screen and (max-width: 620px) {
  .podSlider .next {
    left: 15%;
  }
}

@media screen and (max-width: 420px) {
  .podSlider .next {
    left: 10%;
  }
}

.podSlider .prev {
  right: 0;
}

@media screen and (max-width: 620px) {
  .podSlider .prev {
    right: 15%;
  }
}

@media screen and (max-width: 420px) {
  .podSlider .prev {
    right: 10%;
  }
}

.podSlider .fixed {
  position: absolute;
  top: 29%;
  left: 30%;
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  .podSlider .fixed {
    top: 26%;
    left: 34%;
    width: 200px;
  }
}

@media screen and (max-width: 1050px) {
  .podSlider .fixed {
    top: 26%;
    left: 32%;
    width: 200px;
  }
}

@media screen and (max-width: 888px) {
  .podSlider .fixed {
    top: 26%;
    width: 180px;
  }
}

@media screen and (max-width: 790px) {
  .podSlider .fixed {
    top: 24%;
    left: 30%;
  }
}

@media screen and (max-width: 620px) {
  .podSlider .fixed {
    left: 36%;
    width: 140px;
    top: 22%;
  }
}

@media screen and (max-width: 460px) {
  .podSlider .fixed {
    left: 34%;
  }
}

@media screen and (max-width: 370px) {
  .podSlider .fixed {
    top: 19%;
    width: 120px;
  }
}

@media screen and (min-width: 1551px) {
  .podSlider .fixed {
    top: 32%;
    left: 32%;
  }
}

@media screen and (min-width: 1801px) {
  .podSlider .fixed {
    left: 34%;
  }
}

@media screen and (min-width: 1901px) {
  .podSlider .fixed {
    left: 35%;
    top: 45%;
  }
}

.podSlider .podSlide {
  height: 600px;
  z-index: 0;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -100px;
}

@media screen and (min-width: 1551px) {
  .podSlider .podSlide {
    margin-top: -200px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1901px) {
  .podSlider .podSlide {
    max-width: 1000px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .podSlider .podSlide {
    max-height: 450px;
    max-width: 500px;
    margin-top: -100px;
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 888px) {
  .podSlider .podSlide {
    max-height: 450px;
    max-width: 500px;
    margin-top: -150px;
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 620px) {
  .podSlider .podSlide {
    max-height: 450px;
    max-width: 400px;
    width: 100%;
    margin-top: -70px;
    margin-bottom: -120px;
  }
}

.homeCL {
  padding: 5%;
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (min-width: 889px) {
  .homeCL {
    padding: 0% 9%;
  }
}

.homeCL .homeCLTitle {
  font-size: 26px;
  line-height: 35px;
  color: #2a539c;
  font-family: Graphik Bold;
  text-align: center;
  margin-bottom: 2%;
}

@media screen and (min-width: 621px) {
  .homeCL .homeCLTitle {
    font-size: 32px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1201px) {
  .homeCL .homeCLTitle {
    font-size: 38px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1901px) {
  .homeCL .homeCLTitle {
    font-size: 47px;
    line-height: 59px;
  }
}

.homeCL .homeCLDescp {
  font-size: 12px;
  font-family: Graphik Light;
  line-height: 20px;
  color: #000c20;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5%;
  max-width: 245px;
}

.homeCL .homeCLDescp span {
  color: #5185eb;
}

@media screen and (min-width: 621px) {
  .homeCL .homeCLDescp {
    font-size: 16px;
    line-height: 28px;
    max-width: 600px;
  }
}

@media screen and (min-width: 1201px) {
  .homeCL .homeCLDescp {
    font-size: 21px;
    line-height: 32px;
    max-width: 830px;
  }
}

@media screen and (min-width: 1901px) {
  .homeCL .homeCLDescp {
    font-size: 25px;
    line-height: 40px;
    max-width: 1000px;
  }
}
/*# sourceMappingURL=PodSlider.module.css.map */