.podSlider {
  width:50%;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width:2101px){
    width: 38%;
  }
  @media screen and (max-width:888px){
    width: 60%;
  }
  @media screen and (max-width:620px){
    width: 80%;
  }
  .next,.prev{
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 10;
    @media screen and (min-width:1401px) {
      top: 55%;
    }
    @media screen and (min-width:1521px) {
      top: 60%;
    }
    @media screen and (max-width:1200px){
      width:42px;
    }
    @media screen and (max-width:888px){
      width: 35px;
      top: 47%;
    }
    @media screen and (max-width:730px){
      width: 35px;
      top: 40%;
    }
    @media screen and (max-width:620px){
      width: 25px;
      top: 30%;
    }
    @media screen and (max-width:350px){
      width: 25px;
      top: 27%;
    }
  }
  .next{
    left:0;
    @media screen and (max-width:620px){
      left: 15%;
    }
    @media screen and (max-width:420px){
      left: 10%;
    }
  }
  .prev{
    right:0;
    @media screen and (max-width:620px){
      right: 15%;
    }
    @media screen and (max-width:420px){
      right: 10%;
    }
  }
  .fixed{
    position: absolute;
    top:29%;
    left:30%;
    z-index: 10;
    @media screen and (max-width:1200px){
      top: 26%;
      left: 34%;
      width: 200px;
    }
    @media screen and (max-width:1050px){
      top: 26%;
      left: 32%;
      width: 200px;
    }
    @media screen and (max-width:888px){
      top: 26%;
      width: 180px;
    }
    @media screen and (max-width:790px){
      top: 24%;
      left: 30%;
    }
    @media screen and (max-width:620px){
      top: 17%;
      left: 38%;
      width: 120px;
    }
    @media screen and (max-width:460px){
      left: 35%;
    }
    @media screen and (max-width:390px){
      left: 31%;
    }
    @media screen and (min-width:1551px){
    top: 32%;
    left:32%;
    }
    @media screen and (min-width:1801px){
    left:34%;
    }
    @media screen and (min-width:1901px){
    left:33%;
    }
  }
      .podSlide{
        height:600px;
        z-index: 0;
        max-width: 800px;
        margin:0 auto;
        margin-top: -100px;
        @media screen and (min-width:1551px){
          margin-top: -200px;
          margin-bottom: 50px;
        }
        @media screen and (max-width:1200px){
          max-height: 450px;
          max-width: 500px;
          margin-top: -100px;
          margin-bottom: -50px;
        }
        @media screen and (max-width:888px){
          max-height: 450px;
          max-width: 500px;
          margin-top: -150px;
          margin-bottom: -100px;
        }
        @media screen and (max-width:620px){
          max-height: 450px;
          max-width: 300px;
         margin-top: -50px;
         margin-bottom: -150px;
        }
      }
}
